@import '../../styles/vars.css';

footer {
	background: var(--main-color);
  padding: 40px 0;
}

footer.wrapper {
  align-items: center;
}

.social__list {
  display: flex;
  gap: 25px;
}

.social__item {
  transition: all 0.3s cubic-bezier(0.22, 0.68, 0, 1.71);
}
.social__item:hover {
  transform: translateY(-7px);
}

.social__link {
	display: block;
	width: 50px;
	height: 50px;
}

.social__link .icon {
	width: 30px;
}